.app-container{
  height: 100%;
  background-color: rgb(178, 155, 133);
}
header{
  height: 80px;
  background-color: #92e2ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  color: rgb(0, 0, 255);
  font-size: 40px;
  letter-spacing: 5px;
  font-family: fantasy;
}
  span{
    color: rgb(0, 0, 255, 0.88);
  }

  .gerador{
    background-color: rgb(178, 155, 133);
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .local-imagem{
    background-color: rgb(52, 51, 50,0.4);
    height: 65%;
    width: 30%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    border: 2px solid rgba(255, 255, 255,);
}